site_name: Docs | Bagne Tyron-Jean
use_directory_urls: false
docs_dir: 'docs'
repo_url: 'https://github.com/1Tyron140/doc'
edit_uri: 'blob/main/docs/'

theme:
  name: readthedocs
  highlightjs: true  
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: sphinx
markdown_extensions:
  - markdown_include.include:
      base_path: .
  - admonition

nav:
    - Home: index.md 
    - SIO:
        - pFsense: sio/pfsense/index.md
        - Nextcloud: sio/nextcloud/index.md
            - Introduction: sio/nextcloud/introduction.md
            - Installation: sio/nextcloud/installation.md
        - GLPI: sio/glpi/index.md
       

